/*COLORS*/

$white:#FFF;
$dark:black;
$boton1: lightblue;
$boton2: coral;

/*font family*/
$fuentelogo: 'Futura-Normal', arial;
$fuenteh:'Montserrat', sans-serif;
$fuentep:'Open Sans', sans-serif;
/*$fuente1:
$fuente2:
/*montserrat titulo
sans bajada*/

/*font weight*/
$light:300;
$regular:400;
$bold:900;
/*FONT SIZES*/
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;
$x-small:8px;