.grid{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
}

nav{
    background-color: black;
    height: 50xp;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

header{
    background-color: blue;
    height: 150px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.lateral{
    background-color: gray;
    height: 20px;
    grid-column: 1  / -1;
    grid-row: 3;
}

.colum{
    background-color: green;
    height: 250px;
    grid-column: 1 / -1;
    grid-row: 4 / 9;
}

.column{
    background-color: goldenrod;
    height: 250px;
    grid-column: 1 / -1;
    grid-row: 9 / 14;
}

footer{
    background-color: red;
    height: 50px;
    grid-column: 1 / -1;
    grid-row: 14 / 15;
}

@media (min-width:992px){
    nav{
        background-color: black;
        height: 50px;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    header{
        background-color: blue;
        height: 150px;
        grid-column: 2 / -1;
        grid-row: 2 / 6;
    }

    .lateral{
        background-color: gray;
        height: 500px;
        grid-column: 1 / 2;
        grid-row: 2 / 13;
    }

    .colum{
        background-color: green;
        height: 350px;
        grid-column: 2 / 8;
        grid-row: 6 / 13;
    }

    .column{
        background-color: goldenrod;
        height: 350px;
        grid-column: 8 / -1;
        grid-row: 6 / 13;
    }

    footer{
        background-color: red;
        height: 50px;
        grid-column: 1 / -1;
        grid-row: 13 / 14;
    }
}